.mainLoginPage{
  display: flex;
  flex-direction: row;
  background-color: #151D26;
  color: white;
}

.leftContent{
  width: 40%;
  background-image: url('/background_gauche_loginTwitter.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightContent{
  margin: 30px;
  height: 100vh;
}

.rightTittle{
  margin-top: 90px;
}

.BtnUp{
  background-color: #3690ED;
  padding: 10px 90px 10px 90px;
  border-radius: 20px;
  color: white;
  border: none;
}

.BtnIn{
  background-color: #3691ed00;
  padding: 10px 90px 10px 90px;
  border-radius: 20px;
  color: #3690ED;
  border: 1px solid white;
}